
<div class="col-md-12">
  <h1 class="head-title">Edit Conversion</h1>
  <div class="card mb-3">
    <%= render 'form' %>
    <%= link_to 'Back', currency_conversions_path, {:class => 'btn btn-primary pull-right mt-3 mb-3'} %>
  </div>
</div>
